# Database for Nordic thingy:52

# Subscribe to notifications
record(aSub, "$(Sys)$(Dev)LEDWriter") {
	field(DESC,	"LED writer for thingy node $(NodeID)")
	field(SNAM,	"toggle_led")
	field(INPA,	$(NodeID))
	field(INPB,	"$(Sys)$(Dev)LED.VAL")
	field(FTA,	"SHORT")
	field(FTB,	"SHORT")
	field(FTVA,	"SHORT")
}

record(ai, "$(Sys)$(Dev)LED") {
	field(VAL,	"0")
}
